@model PatientManagementSystem.Models.Visits

@{
    ViewBag.Title = "Details";
}

<h4>KENTUCKIANA INFECTIOUS DISEASE CONSULTANCTS, PSC</h4>
<h5>Barbara Wojda, M.D</h5>
<h5>125 Fairfax Avenue, Louisville, KY 40207</h5>
<h5>Phone (502) 895-6155 Fax (502) 895-6156</h5>
<h5>drbarbarawojda.com</h5>
<br />

<div>
    <hr />
    @if (Model.Initial == true)
    {
        <h2>Office Consultation</h2>
    }
    else
    {
        <H2>Follow Up</H2>
    }
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.patient.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiagnosisCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiagnosisCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPaid)
        </dd>

        @if (Model.Initial != true)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ProblemList)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProblemList)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.MedicalAllergy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalAllergy)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferralReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferralReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.History)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.History)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PastHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PastHistory)
        </dd>        

        @if (Model.Initial == true)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Epidemiology)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Epidemiology)
            </dd>
        }        

        <dt>
            @Html.DisplayNameFor(model => model.FamilyHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RosGeneral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RosGeneral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RosHeent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RosHeent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Respiratory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Respiratory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cardiovascular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cardiovascular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gastrointestinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gastrointestinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genitourniary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genitourniary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RosNeurological)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RosNeurological)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.psychosocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.psychosocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeGeneral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeGeneral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodPressure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodPressure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeartRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeartRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempurature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempurature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeHeent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeHeent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lungs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lungs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Heart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Heart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abdomen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abdomen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Musculoskeletal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musculoskeletal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeNeurological)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeNeurological)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Additional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Additional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documentsoratory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documentsoratory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assessment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assessment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHIVManagement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHIVManagement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOtherManagement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOtherManagement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitId })
</p>
