@model IEnumerable<PatientManagementSystem.Models.Visits>

@{
    ViewBag.Title = "Patient Visit List";
}
<h4>KENTUCKIANA INFECTIOUS DISEASE CONSULTANCTS, PSC</h4>
<h5>Barbara Wojda, M.D</h5>
<h5>125 Fairfax Avenue, Louisville, KY 40207</h5>
<h5>Phone (502) 895-6155 Fax (502) 895-6156</h5>
<br />
<h2>Patient Visits</h2>

@{ int? paid = 0; }
@{ string pn = "";}
@{ foreach(var p in Model){
        paid = p.PatientId;
        pn = p.patient.FullName;
}}

<table>
    <tr>
        <td>
            <b>Patient Name:  @pn</b>
        </td>
    </tr>
</table>
<br />

@Html.ActionLink("Add New Visit", "Create", new { id = paid })

<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.patient.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>       
    </tr>
    
@foreach (var item in Model) {
    <tr>  
        <td>
            @Html.DisplayFor(modelItem => item.patient.BirthDate)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => item.Initial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>               
            @Html.ActionLink("Edit", "Edit", new { id=item.VisitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VisitId }) | 
            @Html.ActionLink("Billing Details", "BillingDetails", new { id = item.VisitId}) |           
            @Html.ActionLink("Delete", "Delete", new { id = item.VisitId })
        </td>
    </tr>
    
    }
    
</table>

<br />
@Html.ActionLink("Go back to patient", "PatientIndex", "Patients", new { id = paid }, null)
