@model IEnumerable<PatientManagementSystem.Models.Visits>

@{
    ViewBag.Title = "Patient Visits";
}

<h2>Patient Visits List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.patient.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Initial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiagnosisCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalAllergy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferralReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.History)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PastHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Epidemiology)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialHistory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RosGeneral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RosHeent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respiratory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cardiovascular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gastrointestinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genitourniary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RosNeurological)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.psychosocial)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Medications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeGeneral)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodPressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeartRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tempurature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeHeent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lungs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abdomen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Musculoskeletal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeNeurological)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Additional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documentsoratory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assessment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHIVManagement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOtherManagement)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.patient.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Initial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiagnosisCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckNumber)
        </td>
        <td> 
            @Html.DisplayFor(modelItem => item.TotalPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicalAllergy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferralReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.History)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PastHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Epidemiology)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialHistory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RosGeneral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RosHeent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Respiratory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cardiovascular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gastrointestinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genitourniary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RosNeurological)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.psychosocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeGeneral)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BloodPressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeartRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tempurature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeHeent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lungs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abdomen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Musculoskeletal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeNeurological)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Additional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documentsoratory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assessment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHIVManagement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOtherManagement)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VisitId }) |
            @Html.ActionLink("Details", "Visit", new { id=item.VisitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VisitId })
        </td>
    </tr>
}

</table>
