@model PatientManagementSystem.Models.Communication

@{
    ViewBag.Title = "Details";
    
}

@{ int? paid = Model.PatientId; }

<h4>KENTUCKIANA INFECTIOUS DISEASE CONSULTANCTS, PSC</h4>
<h5>Barbara Wojda, M.D</h5>
<h5>125 Fairfax Avenue, Louisville, KY 40207</h5>
<h5>Phone (502) 895-6155 Fax (502) 895-6156</h5>
<h5>drbarbarawojda.com</h5>

<div>
    <h4>Communication Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.BirthDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CommDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.Raw(Model.Notes.ToString())
        </dd>
    </dl>
    Barbara Wojda, MD
    <div>
        <img src="~/Images/ElectronicSignature.png" height="30" />
    </div>   
</div>
    

