@model PatientManagementSystem.Models.Communication

@Html.Hidden("UnsavedChanges", "0");

@{
    ViewBag.Title = "Edit";
}

@{ int? paid = Model.PatientId; }

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Communications", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Communication</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CommId)
        @Html.HiddenFor(model => model.PatientId)

        <div class="form-group">
            @Html.LabelFor(model => model.Patient.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 form-control-static">
                @Html.DisplayFor(model => model.Patient.FullName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Patient.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 form-control-static">
                @Html.DisplayFor(model => model.Patient.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CommDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.CommDate, new { htmlAttributes = new { @class = "form-control", onchange = "HandleFieldChange()" } })
                @Html.ValidationMessageFor(model => model.CommDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">               
                @Html.TextAreaFor(model => model.Notes, new { style = "width: 900px; height: 500px", oninput = "HandleFieldChange()" } )                               
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"  onclick="HandleSaveEvent()"/>
            </div>
        </div>
    </div>
}
                    @Html.ActionLink("Go back to communication list", "CommIndex", "Communications", new { id = paid }, null)

@section Scripts {

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
    @*<script type="text/javascript">
                    tinyMCE.init({
                        selector: 'textarea',
                        width: 1000,
                        height: 1000,
                        statusbar: false,
                        menubar: false,
                        site : "~\Content\Site.css",
                        setup: function (ed) {
                            $("#UnsavedChanges").val("0");
                            ed.on("change", function (e) {
                                $("#UnsavedChanges").val("1");
                            });
                        }
                    });
    </script>*@  

    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

        })
        function HandleFieldChange() {
            $("#UnsavedChanges").val("1");
        }

        function HandleSaveEvent() {
            $("#UnsavedChanges").val("0");
        }

        window.onbeforeunload = function () {
            if ($("#UnsavedChanges").val() == "1") {
                var _message = "You currently have unsaved changes!!!\n\nAre you sure you want to exit without saving.\n\nChoose ‘Leave this page’ to exit without saving changes.\nChoose ‘Stay on this page’ to return to the billing profile.";
                return _message;
            }
        }
    </script>
}