@model IEnumerable<PatientManagementSystem.Models.Communication>

@{
    ViewBag.Title = "Index";
}
@{ int? paid = 0; }
@{ foreach (var p in Model)
    {
        paid = p.PatientId;
    }}

<h2>Communications List</h2>

<p>
    @Html.ActionLink("Add New Communication", "Create", new { id = paid })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath)
        </td>
        <td>
            @Html.ActionLink("Open", "GetCommFile", "Communications", new { id = item.CommId }, null) |
            @Html.ActionLink("Edit", "Edit", new { id=item.CommId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommId })
        </td>
    </tr>
}

</table>
<br />
@Html.ActionLink("Go back to patient", "Index", "Patients", new { id = paid }, null)