@model IEnumerable<PatientManagementSystem.Models.OtherManagement>

@{
    ViewBag.Title = "Patient Other Management Records";
}
@{ int? paid = 0; }
@{ string pn = ""; }
@{ foreach (var p in Model)
    {
        paid = p.PatientId;
        pn = p.Patient.FullName;
    }}

<h2>Patient Other Management Records</h2>
<div>
    <table>
        <tr>
            <td>
                <b>Patient Name:  @pn</b>                
            </td>
        </tr>
    </table>
</div>
<br />

@Html.ActionLink("Add New Problem", "Create", new { id = paid })

<table class="table">
    <tr>  
        <th>
            @Html.DisplayNameFor(model => model.Patient.BirthDate)
        </th>           
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViralLoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhiteBloodCell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hemoglobin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlasmaIronTurnover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Triglycerides)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCholesterol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherDocuments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.BirthDate)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.TCell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViralLoad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhiteBloodCell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hemoglobin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlasmaIronTurnover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Triglycerides)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCholesterol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherDocuments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OtherId })&nbsp;|
            @Html.ActionLink("Details", "Details", new { id = item.OtherId })&nbsp;|
            @Html.ActionLink("Delete", "Delete", new { id=item.OtherId })
        </td>
    </tr>
}

</table>

<br />
@Html.ActionLink("Go back to patient", "PatientIndex", "Patients", new { id = paid }, null)