@model PatientManagementSystem.Models.HIVManagement

@{
    ViewBag.Title = "Details";
}
@{ int? paid = Model.PatientId; }

<h2>HIV Management Records</h2>

<div>
    <hr />
    <dl class="dl-horizontal">        
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Problem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICD10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICD10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicationStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicationStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedDiscDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedDiscDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HIVManagmentId }) |
    @Html.ActionLink("Go back to HIV Chart", "HIVIndex", "HIVManagements", new { id = paid }, null)
</p>
