@model IEnumerable<PatientManagementSystem.Models.HIVManagement>

@{
    ViewBag.Title = "HIV Management Chart";
}

<h2>HIV Management Chart</h2>

@{ var PatientName = "";}
@{ var Phone = "";}
@{ var PharmacyPhone = "";}
@{ string BirthDate = Convert.ToString("1/1/1900");}
@{ var Allergies = "";}
@{ string DateOfDiag = Convert.ToString("1/1/1900");}
@{ var TCell = 0; }
@{ var ViralLoad = 0; }


@foreach (var item in Model)
{
    <tr>
        <td>                      
            @{ PatientName = item.Patient.FullName; }
            @{ Phone = item.Patient.PatientPhone; }
            @{ PharmacyPhone = item.Patient.PharmacyPhone; }
            @{ BirthDate = Convert.ToDateTime(item.Patient.BirthDate).ToString("MM/dd/yyyy"); }
            @*@{ Allergies = item.Patient.MedicalAllergy; }*@
            @{ DateOfDiag = Convert.ToDateTime(item.Patient.HIVDiagnosisDate).ToString("MM/dd/yyyy"); }
            @{ TCell = Convert.ToInt32(item.Patient.TCellAtDiagnosis); }
            @{ ViralLoad = Convert.ToInt32(item.Patient.ViralLoadAtDiagnosis); }
        </td>
        </tr>
}

<table>  
    <colgroup>
        <col width="400" />
        <col width="800" />
    </colgroup>  
    <tr>
        <td><b>Patient Name:</b>  @Html.DisplayFor(p => PatientName)</td>
        <td><b>Allergies:</b>  @Html.DisplayFor(p => Allergies)</td>
    </tr>
    <tr>
        <td><b>Phone:</b>  @Html.DisplayFor(p => Phone)</td>
        <td><b>Date of HIV Diagnosis:</b>  @Html.DisplayFor(p => DateOfDiag)</td>
    </tr>
    <tr>
        <td><b>Pharmacy Phone:</b>  @Html.DisplayFor(p => PharmacyPhone)</td>
        <td><b>T-Cell at Diagnosis:</b>  @Html.DisplayFor(p => TCell)</td>
    </tr>
    <tr>
        <td><b>Date of Birth</b>:  @Html.DisplayFor(p => BirthDate)</td>
        <td><b>Viral Load at Diagnosis:</b>  @Html.DisplayFor(p => ViralLoad)</td>
    </tr>


</table>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Problem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ICD10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedDiscDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Problem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ICD10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicationStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedDiscDate)
                </td>               
            </tr>
        }

    </table>
